::ng-deep mat-dialog-container {
    background-color: white !important;
    padding: .2rem !important;
}
.modal {    
    background: rgb(237,109,109);
    background: linear-gradient(0deg, rgba(235,48,48,1)  0%, rgba(237,109,109,1) 100%);
}
.pokemon-tag-modal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   
    
    :nth-child(n) {
        text-transform: capitalize;
        font-size: 1.5rem;
        margin: 2rem 2rem 0rem 2rem;
    } 
}
.modal-title {
  font-size: 5rem;
  margin-top: 1rem;
  text-transform: capitalize;
  text-align: center;
}

.modal-card {
  display: flex;
  flex-wrap: wrap;
  img {
    flex: 1 0 20%;
  }
}

.modal-text {
  display: flex;
  flex-direction: column;
  flex: 1 0 20%;
  justify-content: center;
  h4 {
    font-size: 2rem;
    text-decoration: underline;
  }
  p {
    font-size: 1.5rem;
  }
}

.modal-stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
}

.modal-stat {
  flex: 1 0 40%;
  text-align: center;
}

@media screen and (max-width: 767px) { 
    .modal-title {
        font-size: 3rem;
      }
    .modal-text {
        h4 {
          font-size: 1rem;
        }
      }
}
