.table-pokemon {
  padding: 5rem 0 2rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
  transition: 0.5s;
}

@media screen and (max-width: 767px) {
  .table-pokemon {
    padding: 7rem 0 2rem 0;
    justify-content: space-evenly;
    gap: 0.5rem;
  }
}
