<mat-card class="pokemon-card" [ngClass]="{'selected' : selectedPokemon}" >  
  <mat-card-header class="title-card">
    <mat-card-title (click)="handleClickCard()">{{ pokemonData.name }}</mat-card-title>
  </mat-card-header>
  <mat-spinner *ngIf="!pokemonData.image"></mat-spinner>
  <img
    *ngIf="pokemonData.image"
    mat-card-image
    loading="lazy"
    src="{{pokemonData.image}}"
    alt="{{pokemonData.name}}"
    title="{{pokemonData.name}}"
    (click)="handleClickCard()"
  />
  <div class="pokemon-tag-card">
    <app-tag-type *ngFor="let type of pokemonData.types" [text]=type></app-tag-type>
  </div>
</mat-card>