<mat-card class="pokemon-card">  
  <mat-card-header class="title-card">
    <mat-card-title>{{ pokemonData.name }}</mat-card-title>
  </mat-card-header>
  <mat-spinner *ngIf="!pokemonData.image"></mat-spinner>
  <img
    *ngIf="pokemonData.image"
    mat-card-image
    loading="lazy"
    src="{{pokemonData.image}}"
    alt="{{pokemonData.name}}"
    title="{{pokemonData.name}}"
  />
  <div class="pokemon-tag-card">
    <app-tag-type *ngFor="let type of pokemonData.type" [text]=type></app-tag-type>
  </div>
</mat-card>