.pokemon-card {
  width: 8rem;
  min-height: 17rem;
  text-align: center;
  text-transform: capitalize;
  background: rgb(237, 109, 109);
  background: linear-gradient(
    0deg,
    rgba(237, 109, 109, 1) 0%,
    rgba(235, 48, 48, 1) 100%
  );
  box-shadow: 0 0 0.5rem black;
  border-color: white;
  border-style: solid;
  border-width: 0.2rem;
  transition: 0.3s;
  img {
    cursor: pointer;
  }
  &:hover {
    width: 9rem;
  }
}

.selected {
  width: 9rem;
  border-color: yellow;
  background: linear-gradient(
    0deg,
    rgba(185, 103, 35, 1) 0%,
    rgba(237, 215, 87, 1) 100%
  );
  border-width: 0.4rem;
}

.pokemon-tag-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.title-card {
  justify-content: center;
  cursor: pointer;
}

mat-spinner {
  margin: auto;
}
